PORT=5000
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/restaurant_qr_menu?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your_super_secret_key_here
BACKEND_PUBLIC_URL=http://localhost:5000
FRONTEND_PUBLIC_URL=http://localhost:5173
SSLCOMMERZ_STORE_ID=your_store_id
SSLCOMMERZ_STORE_PASSWORD=your_store_password
SSLCOMMERZ_SESSION_API_URL=https://sandbox.sslcommerz.com/gwprocess/v4/api.php
SSLCOMMERZ_VALIDATION_API_URL=https://sandbox.sslcommerz.com/validator/api/validationserverAPI.php
